<%= bootstrap_form_for(product) do |f| %>
  

  <div class="field">
    <%= f.text_field :title, label: "Название товара" %>
  </div>

  <div class="field">
    <%= f.text_area :description, label: "Описание товара", rows: 6  %>
  </div>

  <div class="field">
    <%= f.text_field :image_url, label: "Ссылка на изображение"  %>
  </div>

  <div class="field">
    <%= f.text_field :price, label: "Цена товара"  %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-danger btn-block", value: "Сохранить продукт"  %>
  </div>
<% end %>
