<p id="notice"><%= notice %></p>

<p class="bg-primary">
  <strong>Название товара:</strong>
  <%= @product.title %>
</p>

<p class="bg-info">
  <strong>Описание товара:</strong>
  <%= @product.description %>
</p>

<p class="bg-info">
  <strong>Изображение товара:</strong>
  <%= image_tag(@product.image_url, class: 'list_image') %>
  <% @product.image_url %>
</p>

<p class="bg-info">
  <strong>Цена товара:</strong>
  <%= @product.price %><br/>
</p>

<%= link_to 'Изменить', edit_product_path(@product) %> |
<%= link_to 'Назад', products_path %>
