<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="container-fluid">
<h1><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Книжная полка </h1>
<hr>
<% cache ['store', Product.latest] do %>
    <% @products.each do |product| %>
    <% cache ['entry', product] do %>
    <div class="container-fluid">
     <div class="entry">
             <%= image_tag(product.image_url, class: "img-rounded") %>
         <h3><%= product.title %></h3>
             <%= sanitize(product.description) %>
         <div class="price_line">
             <span class="price"><%= number_to_currency(product.price) %></span>
             <%= flash_messages %>
             <%= button_to "В корзину", line_items_path(product_id: product),
                             class: "btn btn-primary btn-xs", remote: true %>
         </div>
     </div>
    </div>
    <% end %>
    <% end %>
<% end %>