<!DOCTYPE html>
<html>
  <head>
   <title>Магазин книг ПРОГ</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <body class='<%= controller.controller_name %>'>
    
<nav class="navbar navbar-default">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="banner" href="#"><%= image_tag("logo.png") %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Главная<span class="sr-only">(current)</span></a></li>
        <li><a href="http://www..../faq">Вопросы</a></li>
        <li><a href="http://www..../news">Новости</a></li>
        <li><a href="http://www..../contact">Контакты</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#2">Link</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  
</nav>
    
    
    
    <div id="columns">
      <div id="side">
         <ul>
         <li><a href="http://www....">Главная</a></li>
         <li><a href="http://www..../faq">Вопросы</a></li>
         <li><a href="http://www..../news">Новости</a></li>
         <li><a href="http://www..../contact">Контакты</a></li>
         </ul>
      </div>
      <div id="main">
         <%= yield %><!-- -->
      </div>
    </div>
  </body>
</html>



