<!DOCTYPE html>
<html>
  <head>
   <title>Книжный магазин</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <body class='<%= controller.controller_name %>'>
    
<nav class="navbar navbar-default">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="banner" href="#"><%= image_tag("logo.png") %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Главная<span class="sr-only">(current)</span></a></li>
        <li><a href="http://www..../faq">Вопросы</a></li>
        <li><a href="http://www..../news">Новости</a></li>
        <li><a href="http://www..../contact">Контакты</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#2">Link</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  
</nav>
    
    
    
    <div id="columns">
<% if @cart %>
      <div id="side">
      <!--korzina div-->
      <div id="cart"
         <% if @cart.line_items.empty? %>
         style="display: none"
         
      > <!--div end :) -->
         <%= render(@cart) %>
      </div>
      <% end %>
         <div class="list-group" >
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Вся книжная полка</h4>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Новинки</h4>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>  Техника</h4>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>  Природа</h4>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>  Космос</h4>
  </a>
  <a href="#" class="list-group-item"><h4></h4></a>
  <a href="#" class="list-group-item"><h4></h4></a>
  <a href="#" class="list-group-item"><h4></h4></a>
</div>
      </div>
<% end %>
<!--side products off-->
      <div id="main">
         <%= yield %><!-- -->
      </div>
    </div>
  </body>
</html>



